<section class="bg-image"
    style="background-image: url('./images/kitchen-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;">

    <div class="album py-5">

        <div class="mx-5 text-uppercase">
            <h2 class="fw-bold"> Recipes recently posted </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {{#each recentRecipes}}
                <div class="col">
                    <div class="card">
                        
                        <div class="card-body text-center">
                            <h4 class="card-title text-uppercase">{{title}}</h4>
                            <div>
                                <img src="{{imageUrl}}" style="height: 20rem; object-fit: cover;" class="img-fluid rounded" alt="...">
                            </div>
                            
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">CUISINE      | {{cuisine}}</li>
                            <li class="list-group-item">Dish Type    | {{dishType}}</li>
                            <li class="list-group-item">Difficulty   | {{difficulty}}</li>
                            <li class="list-group-item">Cooking Time | {{cookingTime}}</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="/recipe/{{_id}}" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
<!--
        <div class="mx-5 mt-5">
            <h2> Recipes most liked </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card">
                        <img src="./images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->

    </div>

</section>