{{!-- views/users/user-profile.hbs --}}
<section>

  {{#if userInSession}}

    <div class="album py-5 bg-light">

      <div class="row mb-5">
        <h2 class="text-center">Welcome, {{ userInSession.username }}!</h2>
      </div>

      <div class="mx-5  mb-3">
        <div class="d-flex justify-content-between text-center">
          <h2 > My Recipes </h2>
          <a href="/recipe-create" class="btn btn-success w-25 d-flex align-items-center justify-content-center"> Create a new recipe </a>
        </div>
        <hr>
      </div>

      <div class="container mt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {{#each recipes}}
          <div class="col">
            <div class="card">
              
              <div class="card-body text-center">
                  <h4 class="card-title text-uppercase">{{title}}</h4>
                  <div>
                    <img src="{{imageUrl}}" style="height: 20rem; object-fit: cover;" class="img-fluid rounded" alt="...">
                  </div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cuisine : {{cuisine}}</li>
                  <li class="list-group-item">dishType : {{dishType}}</li>
                  <li class="list-group-item">Difficulty : {{difficulty}}</li>
                  <li class="list-group-item">Time : {{cookingTime}} minutes</li>
              </ul>
              <div class="card-body text-center">
                  <a href="/recipe/{{_id}}" class="btn btn-success">Read more</a>
              </div>
            </div>
          </div>
        {{/each}}

        </div>
      </div>
    </div>


  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}}
    

</section>
