{{!-- views/users/user-profile.hbs --}}
<section>

  {{#if userInSession}}

    <div class="album py-5 bg-light">

      <div class="row">
        <h2 class="text-center">Welcome, {{ userInSession.username }}!</h2>
      </div>

      <div class="mx-5">
        <div class="row">
          <h2 > My Recipes </h2>
          <a href="/recipe-create" class="btn btn-success"> Create a new recipe </a>
          {{!-- button right side! --}}
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {{#each recipes}}
          <div class="col">
            <div class="card">
              <img src="{{imageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
                  <p class="card-text">{{ingredients}}</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{cuisine}}</li>
                  <li class="list-group-item">{{dishType}}</li>
                  <li class="list-group-item">{{difficulty}}</li>
                  <li class="list-group-item">{{cookingTime}} minutes</li>
              </ul>
              <div class="card-body text-center">
                  <a href="/recipe/{{_id}}" class="btn btn-success">Read more</a>
              </div>
            </div>
          </div>
        {{/each}}

        </div>
      </div>
    </div>


  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}}
    

</section>
