<section>
    <div class="album py-5 bg-light">

        {{#with recipe}}
        <div class="mx-5 text-center">
            <h2> {{title}} </h2>
            <hr>
        </div>
        <div class="d-flex justify-content-center mr-4 mt-5">
            <div class="mx-5"> 
                <img class="img-thumbnail" style="width: 20rem;" src="{{imageUrl}}">
                <br>
                <p class=" mt-3">Recipe by : {{author.username}}</p>
        {{/with}}
                <p class=" mt-3">Created on : {{date}}</p>
            </div>

        {{#with recipe}}
            <div class="mx-5 d-flex flex-column justify-content-center" style="font-size: larger;">
                <p>Cuisine : {{cuisine}}</p>
                <p>Dish type : {{dishType}}</p>
                <p>Difficulty : {{difficulty}}</p>
                <p>Cooking time : {{cookingTime}} min</p>
                <p>Ingredients : 
                    <br>{{ingredients}}</p>
                    <br>
                    <br>
                <p class="" style="width: 18rem;">Description : {{description}}</p>

            </div>
        </div>

        {{/with}}

    </div>
    
</section>