<section>
    <div class="album py-5 bg-light">

        <div class="mx-5">
            <h2> {{recipe.title}} </h2>
            <hr>
        </div>

        <div> 
            <p>Recipe by : {{recipe.author}}</p>
            <p>Description : {{recipe.description}}</p>
            <p>Ingredients : {{recipe.ingredients}}</p>
            <p>Cuisine : {{recipe.cuisine}}</p>
            <p>Dish type : {{recipe.dishType}}</p>
            <p>Difficulty : {{recipe.difficulty}}</p>
            <p>Cooking time : {{recipe.cookingTime}} min</p>
            <img src="{{recipe.imageUrl}}">

        </div>

        
        {{#if userInSession}}
            <div>
                <a href="/products/{{id}}/edit">
                    <button add product-id="{{id}}">Edit</button>
                </a>

                <a href="/recipe/{{id}}/delete">
                    <button remove recipe-id="{{id}}">Remove</button>
                </a>
            </div>
        {{/if}}












    </div>
    
</section>