<section>
    <div class="album py-5 bg-light">

        {{#with recipe}}
        <div class="mx-5">
            <h2> {{title}} </h2>
            <hr>
        </div>

        <div> 
            <img class="img-thumbnail w-25" src="{{imageUrl}}">
            <p>Recipe by : {{author.username}}</p>
            <p>Description : {{description}}</p>
            <p>Ingredients : {{ingredients}}</p>
            <p>Cuisine : {{cuisine}}</p>
            <p>Dish type : {{dishType}}</p>
            <p>Difficulty : {{difficulty}}</p>
            <p>Cooking time : {{cookingTime}} min</p>
            

        </div>
        



        {{/with}}

                <div>
            <a href="/recipe/{{recipe._id}}/edit">
                <button add product-id="{{id}}">Edit</button>
            </a>

            <form action="/recipe/{{recipe._id}}/delete" method="Post">
                <button>Delet recipe</button>
            </form>
        </div>




        <!--       Commented for now I don't get the user thing...
        {{#if userInSession}}
            <div>
                <a href="/products/{{id}}/edit">
                    <button add product-id="{{id}}">Edit</button>
                </a>

                <a href="/recipe/{{id}}/delete">
                    <button remove recipe-id="{{id}}">Remove</button>
                </a>
            </div>
        {{/if}}-->


        <div>
            <a href="/recipes">Back to the recipe list</a>
        </div>











    </div>
    
</section>