<section>
    <div class="album py-5 bg-light">

        <div class="mx-5">
            <h2> {{recipe.title}} </h2>
            <hr>
        </div>

        <div> 
            <p>{{recipe.description}}</p>
            <p>{{recipe.ingredients}}</p>
            <p>{{recipe.cuisine}}</p>
            <p>{{recipe.dishType}}</p>
            <p>{{recipe.difficulty}}</p>
            <p>{{recipe.cookingTime}}</p>
            <img src="{{recipe.imageUrl}}">

        </div>

        

        <div></div>












    </div>
    
</section>