<section class="bg-image">

    <div class="album py-5">

        <div class="mx-5 text-uppercase">
            <h2> Recipe list </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {{#each recipe}}
                <div class="col">
                    <div class="card" style="width: 20rem;">
                    
                    <div class="card-body text-center" style=" height: 20rem;">
                        <h4 class="card-title">{{title}}</h4>
                        <div class="mx-auto" style="width: 180px;">
                            <img src="{{imageUrl}}" style="width: max-content;" class="img-fluid" alt="...">
                        </div>
                        
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cuisine : {{cuisine}}</li>
                        <li class="list-group-item">dishType : {{dishType}}</li>
                        <li class="list-group-item">Difficulty : {{difficulty}}</li>
                        <li class="list-group-item">Time : {{cookingTime}} minutes</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="/recipe/{{_id}}" class="btn btn-success">Read more</a>
                    </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>

