<section class="bg-image"
    style="background-image: url('./images/kitchen-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;">

    <div class="album py-5">

        <div class="mx-5 text-uppercase">
            <h2 class="fw-bold"> Recipe list </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {{#each recipe}}
                <div class="col">
                    <div class="card">
                    
                    <div class="card-body text-center">
                        <h4 class="card-title text-uppercase">{{title}}</h4>
                        <div>
                            <img src="{{imageUrl}}" style="height: 20rem; object-fit: cover;" class="img-fluid rounded" alt="...">
                        </div>
                        
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cuisine : {{cuisine}}</li>
                        <li class="list-group-item">dishType : {{dishType}}</li>
                        <li class="list-group-item">Difficulty : {{difficulty}}</li>
                        <li class="list-group-item">Time : {{cookingTime}} minutes</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="/recipe/{{_id}}" class="btn btn-success">Read more</a>
                    </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>

